h1 {
    background-color: darkgreen;
    margin: 0;
    padding: 10px;
    text-align: center;
}

h2 {
    background-color: lightblue;
    margin: 0;
    padding: 10px;
    text-align: center;
}

p {
    background-color: darkgoldenrod;
    margin: 0;
    padding: 10px;
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    display: block;
}

.geb {
    display: inline-block;
}

button {
    margin-top: 10px;
}