<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerForge - Benutzereingabe</title>
    <link rel="stylesheet" href="/css/emailVersendenZuPwdVergabe.css">
</head>
<body>
    <div id="benutzereingabe_container">
        <div id="main_ueberschrift">
            <h2>PowerForge</h2>
            <p>Username eingabe</p>
        </div>

        <div id="benutzereingabe">
            <form action="" method="post">
                <label for="email">E-Mail</label> <br>
                <input type="text" id="email" name="username" placeholder="E-Mail" required><br><br>

                <button type="submit">Passwort wiederherstellen</button>
            </form>
        </div>

    </div>
</body>
</html>