<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerForge - Dein Fitnessstudio</title>
    <link rel="stylesheet" href="/css/startseite.css">
</head>
<body>

    <!-- Navigation -->
    <header>
        <nav class="navbar">
            <div class="logo">POWER<span>FORGE</span></div>

            <ul class="nav-links">
                <li><a href="#start">Startseite</a></li>
                <li><a href="#überuns">Über uns</a></li>
                <li><a href="#galerie">Galerie</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#bewertung">Bewertung</a></li>
                <li><a href="#preise">Preise</a></li>
                <li><a href="#kurse">Kurse</a></li>
                <!--<li><a href="#kontakt">Kontakt</a></li>-->
            </ul>

            <div class="Login_Mitglied_Container">
                <!-- mann muss zuerst eine Mitglieschaft auswählen bevor man sich registrieren kann! -->
                <!-- also eher auf Mitgliedschaft.html zeigen-->
                <a href="register.html" class="mitglied_werden">Mitglied werden</a>
                <a href="login.html" class="anmelden">Login</a>
            </div>
            
        </nav>
    </header>

    <!-- Hintergrund mit Schrift -->
    <section class="hero" id="start">
        <div class="hero-overlay">
            <h1>Willkommen bei Power<span>Forge</span></h1>
            <p>Modernes Training. Starke Community. Echte Ergebnisse.</p>
        </div>
    </section>

    <!-- Main Content -->
    <main class="container">


        <!-- Über uns -->
        <section class="ÜberUns_Section" id="überuns">
            <div class="ÜberUns_Container">
                <h2>Über uns</h2>
                <p class="ÜberUnsText">PowerForge ist mehr als ein Fitnessstudio – wir sind die Schmiede für deine Stärke. <br>
                    Modernes Training, ehrliche Motivation und eine Community, die pusht. Hier wird nicht geredet, hier wird gemacht.
                </p>
                <p class="ÜberUnsText">
                    Bei PowerForge formen wir nicht nur Körper, sondern auch Mentalität. <br>
                    Egal ob Anfänger oder Athlet: Wir trainieren hart, unterstützen uns gegenseitig und holen gemeinsam das Maximum raus.
                </p>
            </div>
            
        </section>


        <!-- Bild Slider -->
        <section class="slider" id="galerie">
            <div>
                <h2>Galerie</h2>
                <div class="slides">
                    <img src="/images/1.jpg" class="active" alt="">
                    <img src="/images/2.jpg" alt="">
                    <img src="/images/3.jpg" alt="">
                </div>
                <!--
                <div>
                    <button id="buttonBildSlider"></button>
                    <button id="buttonBildSlider"></button>
                </div>
                -->
            </div>  
        </section>
        
        
        
        <!-- Das Team-->
         <section class="team" id="team">
            <div class="teamcontainer">
                <div class="überschrift">
                    <h2>Unser </h2><span>Team</span>
                    <p>Hochqualifizierte erfahrene Sporttrainer</p>
                </div>
                <!--Erster Trainer-->
                <div class="linksTrainer">
                    <div class="trainerEINS">
                        <img src="/images/Trainer/trainerEINS.jpg" alt="beispiel trainer">
                        <h3>Alexander S.</h3>
                        <p>Erfahrener MMA Kämpfer seit 20 Jahren</p>
                    </div>
                </div>
                <!--Zweiter Trainer-->
                <div class="mitteTrainer">
                    <div class="trainerZWEI">
                        <img src="/images/Trainer/trainerZWEI.jpg" alt="beispiel trainer">
                        <h3>Benedikt B.</h3>
                        <p>Fußballspieler und Kickboxer</p>
                    </div>
                </div>
                <!--Dritte Trainer Trainer-->
                <div class="rechtsTrainer">
                    <div class="trainerDREI">
                        <img src="/images/Trainer/trainerDREI.jpg" alt="trainer.jpg">
                        <h3>Alfredo T.</h3>
                        <p>Bayrischer Boxmeister</p>
                    </div>
                </div>
            </div>
         </section>


         <!-- Bewertungen-->
         <section class="bewertungSection_class" id="bewertung">
            <div class="bewertungSection_Container" id="bewertungSection_Container_id">
                <div class="bewertungSection_header">
                    <h2>Bewertung unsere <span>Mitglieder</span></h2>
                    <p>Das sagen unsere Mitglieder</p>
                </div>

                <!-- Erste Kunden Bewertung aufbau-->
                <div class="KundenBewertungContainer">
                    <div class="KundenBewertung_kunde_1">
                        <img src="/images/KundenBilder/KundenBild.png" alt="kundenbilder.jpg">
                        <div class="KundenBewertung_Daten"><!--id="KundenBewertung_Daten">-->
                            <h3><!--id="KundenName"-->Rudi Göffel</h3>
                            <div class="sternenBewertung">★★★★★</div>
                        </div>
                    </div>
                    <p class="KundenBewertung_Inhalt">Wunderbares Gym! Eine riesen Auswahl und nette Trainer</p>
                </div>

                <!-- Zweite Kunden Bewertung aufbau-->
                <div class="KundenBewertungContainer">
                    <div class="KundenBewertung_kunde_1">
                        <img src="/images/KundenBilder/KundenBild.png" alt="kundenbilder.jpg">
                        <div class="KundenBewertung_Daten"> <!--id="KundenBewertung_Daten"-->
                            <h3><!--id="KundenName"-->Max Ernst</h3>
                            <div class="sternenBewertung">★★★★★</div>
                        </div>
                    </div>
                    <p class="KundenBewertung_Inhalt">Seit längerem geh ich in das Gym und es ist spitzenmäßig!</p>
                </div>

                <!-- Dritte Kunden Bewertung aufbau-->
                <div class="KundenBewertungContainer">
                    <div class="KundenBewertung_kunde_1">
                        <img src="/images/KundenBilder/KundenBild.png" alt="kundenbilder.jpg">
                        <div class="KundenBewertung_Daten"> <!--id="KundenBewertung_Daten"-->
                            <h3><!--id="KundenName"-->Tobias Zack</h3>
                            <div class="sternenBewertung">★★★★★</div>
                        </div>
                    </div>
                    <p class="KundenBewertung_Inhalt">Nettes Personal und nette Atmosphäre. Das beste Gym in der umgebung meiner Meinung nach.</p>
                </div>

                <!-- Vierte Kunden Bewertung aufbau-->
                <div class="KundenBewertungContainer">
                    <div class="KundenBewertung_kunde_1">
                        <img src="/images/KundenBilder/KundenBild.png" alt="kundenbilder.jpg">
                        <div class="KundenBewertung_Daten"> <!--id="KundenBewertung_Daten"-->
                            <h3><!--id="KundenName"-->Vanessa Simen</h3>
                            <div class="sternenBewertung">★★★★★</div>
                        </div>
                    </div>
                    <p class="KundenBewertung_Inhalt">Ich persönlich find das Gym wunderbar. Es gibts unzählig viele Geräte und die Trainer motivieren einen immer wieder aufs neuste.</p>
                </div>

            </div>
         </section>
         

         <!--Preise section-->
         <section id="preise">
            <div class="preishead">
                <h2>Preise</h2>
                <p>Unsere 3 Auswahlen</p>
            </div>

            <!--Standart Preis-->
            <div class="standartPreis" id="standartPreis_ID">
                <div class="standartPreisHeader">Standart</div>
                <div>
                    <span class="preis" id="StandartPreis">34,99</span>
                    <span class="währung" id="StandartWährung">€</span>
                    <span class="zeit" id="StandartZeit">Monatlich</span>
                </div>
                <div>
                    <ul class="inhaltPreis">
                        <li>Studio Zugang: Mo - So</li>
                        <li>Einführungstraining</li>
                        <li>Freie Gerätenutzung</li>
                        <li>Eintrag zu 2 Kurse pro Woche</li>
                        <li>Kostenlose Getränke</li>
                    </ul>
                    <button class="preisWahl">Wählen</button>
                </div>
            </div>

            <!-- Premium Preis-->
            <div class="premiumPreis" id="premiumPreis_ID">
                <div class="premiumPreisHeader">Premium</div>
                <div>
                    <span class="preis" id="PremiumPreis">64,99</span>
                    <span class="währung" id="PremiumWährung">€</span>
                    <span class="zeit" id="PremiumZeit">Monatlich</span>
                </div>
                <div>
                    <ul class="inhaltPreis">
                        <li>Alles aus Standart</li>
                        <li>Erweiterte Trainingsanamnese</li>
                        <li>Eintrag zu 4 Kurse pro Woche</li>
                        <li>Individueller Trainingsplan mit Fortschritts­tracking</li>
                        <li>WLAN Zugang</li>
                    </ul>
                    <button class="preisWahl">Wählen</button>
                </div>
            </div>

            <!-- Ultimativ Preis-->
            <div class="ultimativPreis" id="ultimativPreis_ID">
                <div class="ultimativPreisHeader">Ultimativ</div>
                <div>
                    <span class="preis" id="UltimativPreis">84,99</span>
                    <span class="währung" id="UltimativWährung">€</span>
                    <span class="zeit" id="UltimativZeit">Monatlich</span>
                </div>
                <div>
                    <ul class="inhaltPreis">
                        <li>Alles aus Premium</li>
                        <li>Unbegrenzte Kurseintragung</li>
                        <li>Zugang zu Premium Bereiche (VIP Lounges)</li>
                        <li>Zugang zu Wellnessbereiche</li>
                        <li>Wöchentlich ein Privattraining</li>
                    </ul>
                    <button class="preisWahl">Wählen</button>
                </div>
            </div>
         </section>

        <!-- Kurse -->
        <section id="kurse" class="content-box">
            <div class="kursehead">
                <h2>Unsere Kurse</h2>
                <p>Immer wieder erstellen unsere Trainer neue Kurse</p>
            </div> <!--class="kursBereich_Header" id="kursBereich_Header_ID"-->

            <!-- Kurs Container für Inhalt-->
            <div class="ersteReihe" id="kursVorschau_Container">
                <div class="kursEinsVonVier" id="kursVorschau_Inhalt">
                    <div>

                    </div>
                </div>
            </div>

            
            <!--
            <div class="ersteReihe">
                <div class="kursEinsVonVier">
                    <p class="titel">Titel</p>
                    <p class="inhalt">Inhalt</p>
                    <p class="teilnehmerAnzahl">Anzahl Teilnehmer</p>
                    <p class="anzahlTermine">Anzahl Termine</p>
                </div>
                <div class="kursZweiVonVier">
                    <p class="titel">Titel</p>
                    <p class="inhalt">Inhalt</p>
                    <p class="teilnehmerAnzahl">Anzahl Teilnehmer</p>
                    <p class="anzahlTermine">Anzahl Termine</p>
                </div>
                <div class="kursDreiVonVier">
                    <p class="titel">Titel</p>
                    <p class="inhalt">Inhalt</p>
                    <p class="teilnehmerAnzahl">Anzahl Teilnehmer</p>
                    <p class="anzahlTermine">Anzahl Termine</p>
                </div>
                <div class="kursVierVonVier">
                    <p class="titel">Titel</p>
                    <p class="inhalt">Inhalt</p>
                    <p class="teilnehmerAnzahl">Anzahl Teilnehmer</p>
                    <p class="anzahlTermine">Anzahl Termine</p>
                </div>
            -->
        </section>

        

    </main>

    <!-- FOOTER BEREICH -->
    <footer>
        <p>© 2026 FitZone</p>
        <div class="footer-links">
            <a href="">Impressum</a>
            <a href="">AGBs</a>
            <a href="">Datenschutz</a>
        </div>
    </footer>


    <!-- JS Einbindung-->
    <script src="/js/startseite.js"></script>
</body>
</html>
