<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerForge - Benutzer wiederherstellung</title>
    <link rel="stylesheet" href="../css/PASSWORTwiederherstellung.css">
</head>
<body>
    <div class="PasswortWIEDERHERSTELLUNG_Container">
        <div class="PasswortWIEDERHERSTELLUNG_Überschrift">
            <h2>PowerForge</h2>
            <p>Benutzer wiederherstellung</p>
        </div>

        <div class="PasswortWIEDERHERSTELLUNG_Eingabe">
            <form action="" method="post">
                <label>E-Mail</label> <br>
                <input type="text" id="PasswortWIEDERHERSTELLUNG_EMAIL" id="PasswortWIEDERHERSTELLUNG_EMAIL" name="e-mail" placeholder="E-Mail" required><br><br>

                <button type="button" id="PasswortWIEDERHERSTELLUNG_button_CLICK">Passwort wiederherstellen</button>
            </form>
        </div>

    </div>
</body>
</html>