<!-- noch kein JavaScript mit eingebunden, sollte auch erst ausgeführt werden können wenn
die Mitgliedschaft ausgewählt wurde-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerForge - Registrierung</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div>
        <div class="ueberschrift">
            <h2>PowerForge</h2>
        </div>

        <!-- vielleicht kann ich mit JavaScript Werte übergeben -->
        <form method="post" action="#" th:action="@{/eingabeformular}">

            <div class="form-container">
                <h2>Personendaten</h2>

                <label>Vorname</label>
                <input type="text" name="vorname" id="vorname" required>

                <label>Nachname</label>
                <input type="text" name="nachname" id="nachname" required>

                <label>Geburtsdatum</label>
                <input type="date" name="gebDatum" id="gebDatum" required>

                <label>Telefonnummer</label>
                <input type="text" name="tel" id="tel" required>

                <h2>Adresse</h2>

                <label>Strasse</label>
                <input type="text" name="strasse" id="strasse" required>

                <label>Strassennummer</label>
                <input type="text" name="nummer" id="nummer" required>

                <label>Postleitzahl</label>
                <input type="text" name="plz" id="plz" required>

                <label>Ort</label>
                <input type="text" name="ort" id="ort" required>

                <label>Land</label>
                <select name="land" id="select_land">
                    <option value="DE" id="de">Deutschland</option>
                    <option value="AT" id="at">Österreich</option>
                    <option value="CHE" id="che">Schweiz</option>
                </select>

                <h2 id="überschrift">Account erstellen</h2>

                <label>Benutzername</label>
                <input  type="text"  name="username" id="benutzer" placeholder="Email" required>

                <label>Passwort</label>
                <input type="password" name="password" required>

                <label>Passwort bestätigen</label>
                <input type="password" name="password1" required>


                <button type="submit">Registrieren</button>
            </div>
        </form>
    </div>

    <!-- einbindung java script -->
    <!--<script src="/js/register.js"></script>-->
</body>
</html>