<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personalData</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>

<!-- hier soll dan ein Model objekt übergeben werden welches
die entweder Kontaktdaten Vormund oder Kontaktdaten ansprechperson angibt-->
<h1>Ihre Kontaktdaten</h1>
<p>Geben Sie hier die Kontaktdaten des Erziehungsberechtigten an wenn Sie minderjärig sind!</p>

<form method="post" action="#" th:action="@{/loginTemplate}">

    <label>Telefonnummer:</label>
    <input type="text" name="tel" placeholder="Telefonnummer"/>

    <!-- muss eigentlich nicht mehr angegeben werden -->
    <!-- sollte namen der Eltern oder so enthalten -->
    <label>E-Mail:</label>
    <input type="email" name="email" placeholder="E-Mail" required/>

    <button type="submit">Weiter</button>
</form>
</body>
</html>