<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>
    <h1>Login Seite</h1>
    <p>Hier können Sie sich mit Ihrer Email anmelden!</p>
    <form method="post" action="#" th:action="@{/eingeloggtTemplate}">
        <label>Email:</label>
        <input type="email" name="username" placeholder="Username" required>

        <label>Passwort:</label>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Login</button>
    </form>
</body>
</html>