<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personalData</title>
</head>
<body>
    <h1>Persöhnliche Daten</h1>
    <p>Geben Sie hier Ihre persöhnlichen Daten an!</p>

    <form method="post" action="#" th:action="@{/eingabeformularKontaktdaten}">
        <label>Vorname:</label>
        <input type="text" name="vorname" placeholder="Vorname">

        <label>Nachname:</label>
        <input type="text" name="nachname" placeholder="Nachname">

        <label>Geburtsdatum:</label>
        <input type="date" name="geb" placeholder="Geburtsdatum">

        <label>Straße + Hausnummer</label>
        <input type="text" name="adr" placeholder="Adresse">

        <label>Postleitzahl:</label>
        <input type="text" name="plz" placeholder="Postleitzahl">

        <label>Ort:</label>
        <input type="text" name="ort" placeholder="Ort">

        <label>Land:</label>
        <input type="text" name="land" placeholder="Land">

        <button type="submit">weiter</button>
    </form>
</body>
</html>