<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personalData</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>
    <h1>Persöhnliche Daten</h1>
    <p>Geben Sie hier Ihre persöhnlichen Daten an!</p>

    <!-- möchte required heraus nehmen und es durch header ersetzen-->

    <form method="post" action="#" th:action="@{/eingabeformular}">
        <label>Vorname:</label>
        <input type="text" name="vorname" placeholder="Vorname" required>

        <label>Nachname:</label>
        <input type="text" name="nachname" placeholder="Nachname" required>

        <label>Geburtsdatum:</label>
        <input class="geb" type="number" name="tag" placeholder="Tag" required>
        <input class="geb" type="number" name="monat" placeholder="Monat" required>
        <input class="geb" type="number" name="jahr" placeholder="Jahr" required>

        <label>Tel:</label>
        <input type="text" name="tel" placeholder="Telephonnummer" required>

        <label>Straße:</label>
        <input type="text" name="strasse" placeholder="Straße" required>

        <label>Hausnummer:</label>
        <input type="text" name="nummer" placeholder="Hausnummer" required>

        <label>Postleitzahl:</label>
        <input type="text" name="plz" placeholder="Postleitzahl" required>

        <label>Ort:</label>
        <input type="text" name="ort" placeholder="Ort" required>

        <label>Land:</label>
        <input type="text" name="land" placeholder="Land" required>

        <button type="submit">Weiter</button>

        <br>
        <div th:text="@{error}"></div>
    </form>
</body>
</html>