<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <h1>Registrations Seite</h1>
    <p>Bitte füllen Sie die kommenden Felder aus um einen Account zu erstellen!</p>

    <form action="#" method="post" th:action="@{/personalData}">
        <label>Email:</label>
        <input type="email" name="username" placeholder="Vorname">

        <label>Passwort:</label>
        <input type="password" name="password" placeholder="Password">

        <label>Passwort bestätigen:</label>
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Weiter</button>
    </form>
</body>
</html>