<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>
    <h1>Registrations Seite</h1>
    <p>Bitte füllen Sie die kommenden Felder aus um einen Account zu erstellen!</p>
    <p>Der Username muss deine email sein!</p>

    <form method="post" action="#" th:action="@{/personalData}">
        <label>Username:</label>
        <input type="email" name="username" placeholder="Username" required>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" required>

        <!-- den button disabeln und erst enablen wenn alle felder ausgefüllt sind-->
        <button type="submit">weiter</button>
    </form>
</body>
</html>